<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
            http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>internal-snapshots</id>
            <username>deployment</username>
            <password>tiger2108</password>
        </server>
        <server>
            <id>internal-releases</id>
            <username>deployment</username>
            <password>tiger2108</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>didiman</id>
            <url>http://maven.didiman.com/nexus/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>didiman-profile</id>
            <repositories>
                <repository>
                    <id>didiman</id>
                    <url>http://maven.didiman.com/nexus/content/groups/public/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>cloudera</id>
                    <url>http://maven.didiman.com/nexus/content/repositories/cloudera/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>didiman-profile</activeProfile>
    </activeProfiles>
</settings>
